body {
    background-color: black;
}

.page-header { 
    background: url(/clay-banks-V5kxrlY6Oy0-unsplash.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }